<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello Patricia</h2>
    <p>
      <%= @contact.message %>
    </p>
	 <p>
    <h4>Best Regards, <br/>
    	<%= @contact.name %>
    </h4>
    	<h6>email: <%= @contact.email %></h6>
    </p>
  </body>
</html>